{% load static %}
<nav class="navbar">
    <div>
        <a href="{% url 'home' %}">
            <img class="primary-icon" src="{% static 'img/logo.png' %}"/>
        </a>
    </div>
    <ul class="nav-list" id="nav-list">
        <li class="list-item">
            <a href="{% url 'home' %}">Главная</a>
        </li>
        <li class="list-item">
            <a href="{% url 'scanner' %}">Сканер</a>
        </li>
        <li class="list-item">
            <a href="{% url 'scanner_table' %}">Таблица</a>
        </li>
        <li class="list-item">
            <a href="{% url 'search_table' %}">Поиск</a>
        </li>
        <li class="list-item">
            <a href="{% url 'movements' %}">Перемещения</a>
        </li>
    </ul>
    <button class="menu" id="toggle-button" onclick="menuToggle(event)">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </button>
</nav>