<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Homepage</title>
    </head>
    <body>
        <h1>Welcome to items page.</h1>

        <h4>List is </h4>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>otherserial</th>
                    <th>item_deviceprocessor</th>
                </tr>
            </thead>
            <tbody>
                {% for i in items %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.otherserial }}</td>
                    <td>{{ i.item_deviceprocessor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>