{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div>
        <h1>Table scanner</h1>

        <form enctype="multipart/form-data" method="post" id="qr-form">
            {% csrf_token %}
            {{ form }}
        </form>

        <table>
            <thead>
            <tr>
                <th>Номер</th>
                {% for item in display.values %}
                    <th>{{ item }}</th>
                {% endfor %}
                <th>Ответственный</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% for key, value in display.items %}
                        <td>{{ item.item|get_item_value:key }}</td>
                    {% endfor %}
                    <td>{{ item.user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if items %}
        <form action="{% url 'clear_table' %}" method="GET">
            {% csrf_token %}
            <button type="submit">Очистить таблицу</button>
        </form>

        <form action="{% url 'download_table' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="items" value="items">
            <button type="submit">Скачать таблицу</button>
        </form>
    {% endif %}
{% endblock %}