{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div>
        <h1>QR Scanner</h1>

        <form enctype="multipart/form-data" method="post" id="qr-form">
            {% csrf_token %}
            {{ form }}
        </form>
        {% if item %}
            <div>
                {% for display_key, display_name in display.items %}
                    {% if item|get_item_value:display_key|is_list %}
                        <div>
                            {{ display_name }}:
                            <ul>
                                {% for subvalue in item|get_item_value:display_key %}
                                    <li>{{ subvalue }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div>{{ display_name }}:&emsp;{{ item|get_item_value:display_key }}</div>
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <h2>Ответственное лицо</h2>
                {% if not user %}
                    <div>Не указано</div>
                {% endif %}
                <div>{{ user }}</div>
            </div>

            {% if item.movement %}
                <div>
                    <h2>Информация о перемещении</h2>
                    <div>Перемещено сотруднику: {{ item.movement.username }}</div>
                    <div>Кабинет: {{ item.movement.location }}</div>
                    <div>До даты: {{ item.movement.move_date }}</div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div>
    {% if item %}
        <h3>Отправить заявку</h3>
        <form method="post" id="ticket-form">
            {% csrf_token %}
            {{ ticket_form.title.label_tag }} {{ ticket_form.title }}<br>
            {{ ticket_form.description.label_tag }} {{ ticket_form.description }}<br>
            {% if anon %}
                {{ ticket_form.anonymous.label_tag }} {{ ticket_form.anonymous }}<br>
            {% endif %}

            <div id="auth-fields" style="display: {% if anon %} none {% else %} block {% endif %} ">
                {{ ticket_form.username.label_tag }} {{ ticket_form.username }}<br>
                {{ ticket_form.password.label_tag }} {{ ticket_form.password }}<br>
            </div>
            <input type="submit" value="Отправить">
        </form>
    {% endif %}
{% endblock %}

