{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <h1>Поиск</h1>

    <form id="search-form" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Отправить</button>
        <button type="button" id="add-criteria-button">Добавить критерий</button>
        <a href="{% url 'search_table' %}">
            <button type="button" id="add-criteria-button">Только выбранные</button>
        </a>
        <div id="criteria-container"></div>
    </form>

    {% if items or selected_items %}
        <table>
            <thead>
            <tr>
                <th>Номер</th>
                {% for item in display.values %}
                    <th>{{ item }}</th>
                {% endfor %}
                <th>Ответственный</th>
                <th>
                    <form method="POST" action="{% url 'update_selected_items' %}" id="select-all-form">
                        {% csrf_token %}
                        <input type="hidden" name="items" value="{{ items|to_json }}">
                        <input type="checkbox" name="select-all" onchange="selectAll(this) | submitForm(this)">
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% for key, value in display.items %}
                        <td>{{ item.item|get_item_value:key }}</td>
                    {% endfor %}
                    <td>{{ item.user }}</td>
                    <td>
                        <form id="select-form" method="POST" action="{% url 'update_selected_items' %}">
                            {% csrf_token %}
                            <input type="hidden" name="item" value="{{ item|to_json }}">
                            <input type="checkbox" name="item_check"
                                   {% if item in selected_items %}checked{% endif %}
                                   onchange="submitForm(this)">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form method="GET" action="{% url 'download_table' %}">
            {% csrf_token %}
            <input type="hidden" name="items" value="selected_items">
            <button type="submit">Скачать таблицу</button>
        </form>
        <form method="POST" action="{% url 'download_qr' %}">
            {% csrf_token %}
            <input type="hidden" name="items" value="{{ selected_items|generate_ids }}">
            <button type="submit">Сгенерировать QR-коды</button>
        </form>
        <form method="POST" action="{% url 'new_movement' %}">
            {% csrf_token %}
            {{ movement_form.as_p }}
            <input type="hidden" name="items" value="{{ selected_items|generate_ids }}">
            <input type="submit" value="Сохранить">
        </form>
    {% endif %}
{% endblock %}